<nav>
    <ul>
        <li><a href="{{ path('app_index') }}">Accueil</a></li>
        <li><a href="{{ path('app_about') }}">À propos</a></li>
        <li><a href="{{ path('categories_list')}}">Catégories</a></li>
    </ul>
</nav>